{% extends "layout.twig" %}

{% block body %}
<div class="row">
      <div class="" style="width: 100%;">
      <img src="{{article.image}}" width="1800" height="400" class="card-img-top" alt="{{article.title}}">
      <div class="card-body">
      <h3>{{article.title}}</h3>
      <a href=""><strong>Published At :</strong> {{article.publishedAt | date("d-m-Y h:m:s")}}</a>
      <hr>
      <p class="card-text">{{article.content}}</h5>
      <a href="/" class="btn btn-primary">Back to Home</a>
      <a href="/edit-article/{{article._id}}" class="btn btn-primary">Editer</a>
      <hr>
      </div>
      </div>

{% endblock %}